div.well.calc-screen {
  margin-bottom: 0;
  margin-left: 14px;
  width: 684px;
  text-align: right;
}

.numpad-row {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

div.container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.calc-container {
  width: 698px;
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

button.btn.btn-default.colored {
  background-image: -webkit-linear-gradient(#4787ed, #4787ed 60%, #4787ed);
  background-color: #4787ed;
}

button.btn.btn-default.light {
  background-image: -webkit-linear-gradient(#B8B8B8, #B8B8B8 60%, #B8B8B8);
  background-color: #B8B8B8;
}

body {
  background-color: #F0EAD6;
}
